body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:768px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:768px;
}
#u1 {
  position:absolute;
  left:2px;
  top:376px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:60px;
}
#u2 {
  position:absolute;
  left:158px;
  top:241px;
  width:60px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4 {
  position:absolute;
  left:169px;
  top:307px;
  width:39px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u7 {
  position:absolute;
  left:52px;
  top:96px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u9 {
  position:absolute;
  left:173px;
  top:94px;
  width:52px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u11 {
  position:absolute;
  left:294px;
  top:96px;
  width:26px;
  height:14px;
  font-size:12px;
  color:#000000;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u13 {
  position:absolute;
  left:33px;
  top:96px;
  width:14px;
  height:14px;
}
#u14 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u15 {
  position:absolute;
  left:104px;
  top:96px;
  width:15px;
  height:15px;
}
#u16 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u17 {
  position:absolute;
  left:322px;
  top:96px;
  width:23px;
  height:14px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-1px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u19 {
  position:absolute;
  left:314px;
  top:120px;
  width:25px;
  height:25px;
}
#u20 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_ann {
  position:absolute;
  left:332px;
  top:116px;
  width:1px;
  height:1px;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u21 {
  position:absolute;
  left:48px;
  top:338px;
  width:280px;
  height:40px;
}
#u22 {
  position:absolute;
  left:2px;
  top:12px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23 {
  position:absolute;
  left:48px;
  top:391px;
  width:280px;
  height:40px;
}
#u24 {
  position:absolute;
  left:2px;
  top:12px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  position:absolute;
  left:48px;
  top:444px;
  width:152px;
  height:40px;
}
#u26 {
  position:absolute;
  left:2px;
  top:12px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u27 {
  position:absolute;
  left:220px;
  top:444px;
  width:108px;
  height:40px;
}
#u28 {
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#A1A1A1;
}
#u29 {
  position:absolute;
  left:60px;
  top:454px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#A1A1A1;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#A1A1A1;
}
#u31 {
  position:absolute;
  left:256px;
  top:454px;
  width:36px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#A1A1A1;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#003399;
}
#u33 {
  position:absolute;
  left:48px;
  top:493px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#003399;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#003399;
}
#u35 {
  position:absolute;
  left:271px;
  top:493px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#003399;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#A1A1A1;
}
#u37 {
  position:absolute;
  left:90px;
  top:348px;
  width:120px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#A1A1A1;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#A1A1A1;
}
#u39 {
  position:absolute;
  left:90px;
  top:401px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#A1A1A1;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u41 {
  position:absolute;
  left:79px;
  top:536px;
  width:220px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u42 {
  position:absolute;
  left:2px;
  top:11px;
  width:216px;
  word-wrap:break-word;
}
