body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:768px;
}
#u1895 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:768px;
}
#u1896 {
  position:absolute;
  left:2px;
  top:376px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1897 {
  position:absolute;
  left:26px;
  top:89px;
  width:325px;
  height:90px;
}
#u1898 {
  position:absolute;
  left:2px;
  top:37px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1899 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1900 {
  position:absolute;
  left:159px;
  top:145px;
  width:57px;
  height:20px;
}
#u1901 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1902 {
  position:absolute;
  left:40px;
  top:144px;
  width:22px;
  height:22px;
}
#u1903 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1904 {
  position:absolute;
  left:40px;
  top:188px;
  width:51px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1905 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u1906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:2px;
}
#u1906 {
  position:absolute;
  left:26px;
  top:218px;
  width:316px;
  height:1px;
}
#u1907 {
  position:absolute;
  left:2px;
  top:-8px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:2px;
}
#u1908 {
  position:absolute;
  left:26px;
  top:260px;
  width:316px;
  height:1px;
}
#u1909 {
  position:absolute;
  left:2px;
  top:-8px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u1911 {
  position:absolute;
  left:52px;
  top:91px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u1912 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u1913 {
  position:absolute;
  left:173px;
  top:89px;
  width:52px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u1914 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u1915 {
  position:absolute;
  left:294px;
  top:91px;
  width:26px;
  height:14px;
  font-size:12px;
  color:#000000;
}
#u1916 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u1917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1917 {
  position:absolute;
  left:33px;
  top:91px;
  width:14px;
  height:14px;
}
#u1918 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1919 {
  position:absolute;
  left:104px;
  top:91px;
  width:15px;
  height:15px;
}
#u1920 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u1921 {
  position:absolute;
  left:322px;
  top:91px;
  width:23px;
  height:14px;
}
#u1922 {
  position:absolute;
  left:2px;
  top:-1px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1923 {
  position:absolute;
  left:40px;
  top:230px;
  width:53px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1924 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1925 {
  position:absolute;
  left:42px;
  top:270px;
  width:53px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1926 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:2px;
}
#u1927 {
  position:absolute;
  left:28px;
  top:300px;
  width:316px;
  height:1px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:-8px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:2px;
}
#u1929 {
  position:absolute;
  left:28px;
  top:342px;
  width:316px;
  height:1px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:-8px;
  width:312px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1931 {
  position:absolute;
  left:42px;
  top:312px;
  width:53px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1932 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1933 {
  position:absolute;
  left:210px;
  top:188px;
  width:117px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1934 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u1935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1935 {
  position:absolute;
  left:208px;
  top:230px;
  width:119px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1936 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u1937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1937 {
  position:absolute;
  left:208px;
  top:270px;
  width:119px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1938 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u1939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1939 {
  position:absolute;
  left:208px;
  top:312px;
  width:119px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1940 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u1941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1941 {
  position:absolute;
  left:130px;
  top:188px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1942 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
