body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:376px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:768px;
}
#u1445 {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:768px;
}
#u1446 {
  position:absolute;
  left:2px;
  top:376px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:325px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1447 {
  position:absolute;
  left:26px;
  top:89px;
  width:325px;
  height:90px;
}
#u1448 {
  position:absolute;
  left:2px;
  top:37px;
  width:321px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1449 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1450 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1451 {
  position:absolute;
  left:153px;
  top:145px;
  width:71px;
  height:20px;
}
#u1452 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u1453 {
  position:absolute;
  left:89px;
  top:222px;
  width:200px;
  height:200px;
}
#u1454 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1455 {
  position:absolute;
  left:91px;
  top:426px;
  width:197px;
  height:20px;
}
#u1456 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u1457 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:40px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1458 {
  position:absolute;
  left:99px;
  top:461px;
  width:180px;
  height:40px;
}
#u1459 {
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1460 {
  position:absolute;
  left:146px;
  top:471px;
  width:85px;
  height:20px;
}
#u1461 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1462 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u1463 {
  position:absolute;
  left:52px;
  top:91px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u1464 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u1465 {
  position:absolute;
  left:173px;
  top:89px;
  width:52px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u1466 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u1467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u1467 {
  position:absolute;
  left:294px;
  top:91px;
  width:26px;
  height:14px;
  font-size:12px;
  color:#000000;
}
#u1468 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u1469_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1469 {
  position:absolute;
  left:33px;
  top:91px;
  width:14px;
  height:14px;
}
#u1470 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1471 {
  position:absolute;
  left:104px;
  top:91px;
  width:15px;
  height:15px;
}
#u1472 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
}
#u1473 {
  position:absolute;
  left:322px;
  top:91px;
  width:23px;
  height:14px;
}
#u1474 {
  position:absolute;
  left:2px;
  top:-1px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1475 {
  position:absolute;
  left:161px;
  top:441px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1476 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u1477 {
  position:absolute;
  left:40px;
  top:144px;
  width:22px;
  height:22px;
}
#u1478 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
